{% extends 'main/base.html'%}

{% block content %}
 {% include 'main/nav.html'  %}

 <div class="container">
    <h1 class="center-align">Project</h1>
    <div class="row">
        <div class="col s12 m6">
            <ul class="collapsible">
              {% for project in PROJECTS%}
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{project}}</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                {% endfor %}
                {% comment %} <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li> {% endcomment %}
              </ul>
        </div>
        

    </div>
 </div>
{% endblock %}


{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
{% endblock %}